
body {
    position: relative;
    background-color: black;
    color: black;
    font-size: 0.8rem;
    font-family: 'Roboto', 'Bookerly', 'Amazon Ember Light', Arial, sans-serif;  
}


@media screen and (max-width: 900px) {
    #header {
        height: 100px;
        max-height: 5vh;
    }
}


@media screen and (min-width: 1200px) {
    body {
        font-size: 1.25rem
    }
}