@use '../utils/_variables.scss';

@media screen and (max-width: variables.$max-mobile-width) {
    #dMobileResetFlex{
        position: relative;
        left: 5%;
        width: 90%;
        display: flex;
        justify-content: right;

    }

    #btnMobileReset {
        margin-top: 2vh;
        margin-bottom: 2vh;
        position: relative;  
        right: 1rem; 
        background-color: goldenrod;   
        color: black;
        border-radius: 30px;  
    }
}

@media screen and (min-width: variables.$max-mobile-width) {
    #dMobileResetFlex {
        visibility: hidden;
        display: none;
    }
}