@use '../utils/variables.scss';
@use '../utils/mixins.scss';

#defcon-level {
    @include mixins.position(absolute, 0%, null, null, 0%, 10);
    //position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
    opacity: 0;
    //top: 0%;
    //left: 0%;
    width: 100%;
    height: 100%;
    font-size: 20rem;
    margin-left: auto;
    margin-right: auto;
    //z-index: 10;
    transition: opacity 0.5s;
    text-shadow: -4px -4px 0 rgba(25, 25, 25, 0.5),
    4px -4px 0 rgba(25, 25, 25, 0.5), 
    -4px 4px 0 rgba(25, 25, 25, 0.5),
    4px 4px 0 rgba(25, 25, 25, 0.5);
    
}

