@use '../utils/_variables.scss';

#defcon-level {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    font-size: 20rem;
    margin-left: auto;
    margin-right: auto;
    z-index: 10;
    transition: opacity 0.5s;
    text-shadow: -4px -4px 0 rgba(25, 25, 25, 0.5),
    4px -4px 0 rgba(25, 25, 25, 0.5), 
    -4px 4px 0 rgba(25, 25, 25, 0.5),
    4px 4px 0 rgba(25, 25, 25, 0.5);
    
}

@media screen and (max-width: variables.$max-mobile-width) {
    #defcon-level {
        top: 0%;
        font-size: 20rem;
        margin-left: auto;
        margin-right: auto;
        z-index: 10;
        transition: opacity 1s;
        opacity: 0;
    }
}