@use '../utils/_variables.scss';

#monitor-3{
    box-sizing: border-box;
    position: absolute;                    
    width: 32%;
    height: 37%;
    right: 5px;
    top: 17%;
    background-color: black;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border: 5px solid grey;      
    
    .world {
        margin-left: 20%;
        display: inline-block;
        width: variables.$world-sprite-width;
        height: variables.$world-sprite-height;
        background: variables.$world-spritesheet-src left center;
        animation: 
            spin_world 
            variables.$world-spritesheet-rotation-time 
            steps(variables.$world-spritesheet-frames) 
            infinite;    
        transform-origin: top left;                
    }
}



@keyframes spin_world {
    100% {
        background-position: variables.$world-spritesheet-width;
     }
}

@media screen and (max-width <= variables.$max-mobile-width) {
    #monitor-3 {
        display: none;
        visibility: hidden;
    }
}
