@use '../utils/variables.scss';
@use '../utils/mixins.scss';

#monitor-1{
    @include mixins.position(absolute, 17%, null, null, 5px, null);
    box-sizing: border-box;
    //position: absolute;
    width: 32%;
    height: 37%;
    //left: 5px;
    //top: 17%;
    background-color: black;
    border: 5px solid grey;
    text-align: center;
    background-image: url('../../images/mon1-1.png');
    background-size: contain;
    text-shadow: -2px -2px 0 rgba(255, 255, 255, 0.5),
    2px -2px 0 rgba(255, 255, 255, 0.5), 
    -2px 2px 0 rgba(255, 255, 255, 0.5),
    2px 2px 0 rgba(255, 255, 255, 0.5);
    font-size: 1.5rem;
}

#monitor-1 h4{
    font-size: 1.25rem;
    background-color: goldenrod;
}

#monitor-1 #pTimer {
    color: var(--defcon-color);
    /* font-size: 5rem; */
}

@media screen and (max-width: variables.$max-mobile-width) {
    #monitor-1 {
        @include mixins.position(relative, 0%, null, null, 5%, null);
        box-sizing: border-box;
        //position: relative;
        display: block;
        background-size: 0px 0px;
        border: 0px;
        height: auto;
        box-sizing: border-box;
        width: 90%;
        //top: 0%;
        //left: 5%;
    }
}
