
#monitor-3{
    box-sizing: border-box;
    position: absolute;                    
    width: 32%;
    height: 37%;
    right: 5px;
    top: 17%;
    background-color: black;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border: 5px solid grey;        
}

.world {
    margin-left: 20%;
    display: inline-block;
    width: 82px;
    height: 82px;
    background: url("../../images/world_sprite_sheet2.gif") left center;
    animation: spin_world 8s steps(48) infinite;    
    transform-origin: top left;                
}

@keyframes spin_world {
    100% {
        background-position: 3936px;
     }
}

@media screen and (max-width: 900px) {
    #monitor-3 {
        display: none;
        visibility: hidden;
    }
}
