@use '../utils/variables.scss';
@use '../utils/mixins.scss';

#sprite-scientist {
    @include mixins.position(absolute, null, null, null, null, 3);
    position: absolute;
    /* border: 2px solid red; */
    display: block;
    z-index: 3;
}

@media screen and (max-width: variables.$max-mobile-width) {
    #sprite-scientist {
        display: none;
        visibility: hidden;
    }
}