@use '../utils/_variables.scss';

#sprite-scientist {
    position: absolute;
    /* border: 2px solid red; */
    display: block;
    z-index: 3;
}

@media screen and (max-width: variables.$max-mobile-width) {
    #sprite-scientist {
        display: none;
        visibility: hidden;
    }
}