@use '../utils/_variables.scss';


@mixin mobile-monitors {
  box-sizing: border-box;
  position: relative;
  display: block;
}

@mixin monitorBoxDimension {
  width: 32%;
  height: 37%;
}

@mixin boxDimension($width, $height) {
  width: $width;
  height: $height;
}

@mixin position($position: absolute, $top: null, $right: null, $bottom: null, $left: null, $z-index: initial) {
  position: $position;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
  z-index: $z-index;
}

// Usage:  @include position(absolute, 60px, 0, 0, 0, z('modal'));

