.hover {
    cursor: pointer;
}

.blink_me {
    animation: blinker 1s linear infinite;
}

.hide_me {
    display: none;
    visibility: hidden;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}