#mission-control-center{
    position: relative;
    overflow: hidden;
    left: 10vw;
    width: 80vw;
    height: 40vw;
    background-color: #031534;
    /* border: 2px solid red; */
    background-image: url('../../images/mission_control_background.png');
    background-size: contain;
    background-repeat: no-repeat;
}

@media screen and (max-width: 900px) {

    #mission-control-center {    
        left: 0;
        width: 100%;
        height: 90vh;
        background-image: url('../../images/mission_control_background_mobile2.png');
        background-position: center;
        overflow: visible;
    }
    
}